body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e2f;
  color: #e0e0f0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #292944d6;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header .search-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .search-controls input {
  width: 250px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header span {
  display: flex;
  font-size: 0.9rem;
  color: #e0e0f0;
  white-space: nowrap;
}

main {
  flex: 1;
  padding: 3rem 0rem 6rem 0rem;
  overflow-y: auto;
}

button {
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #4338ca;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #2b2b40;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

thead {
  background-color: #33334d;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #444;
}

.th-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.th-content span {
  font-size: 0.9rem;
  color: #a0a0b0;
}

.col-filter {
  width: 90%;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}

tr:hover {
  background-color: #2a2a3d;
}

tr.active {
  background-color: #4f46e5 !important;
  color: white;
}

progress {
  width: 100%;
  height: 10px;
  margin: 0.5rem 0;
}

.progress-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 30, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.progress-box {
  background: #292944;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  width: 70%;
}

.progress-box progress {
  width: 100%;
  height: 14px;
  margin-top: 1rem;
}

.progress-path {
  font-size: 0.8rem;
  color: #a0a0b0;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 90%;
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292944;
  padding: 1rem;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}

.pitch-control {
  display: flex;
}